defmodule Solutions.Day<%= day %> do
  @behaviour Solution

  @test_input """
  """

  @doc """
  iex> solve_part_1(#{inspect(@test_input)})
  nil
  """
  def solve_part_1(_input) do
    nil
  end

  @doc """
  iex> solve_part_2(#{inspect(@test_input)})
  nil
  """
  def solve_part_2(_input) do
    nil
  end
end
